* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    padding: 50px;
}

.section-one {
    background-color: black;
    padding: 20px;
    color: white;
}

.section-one__name {
    
    font-size: 60px;
}

.section-one__role {
    font-size: 30px;
    margin-top: 10px;

}

.section-one__contact {
    background-color: red;
    color: white;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    display: inline-block;
    border: solid white 2px;
}

.section-three li,
.section-four li {
    list-style: none;
}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-top: 20px;
}

.section-two__desc,
.section-three__desc,
.section-four__desc,
.section-five__desc {
    margin-top: 10px;
}

.section-five {
    background-color: black;
    padding: 5px;
}

.section-five__title {
    color: white;
}

.section-five__desc {
    color: skyblue;
}

.section-three {
    background-color: #6462fd;
    color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    height: 200px;
}

.section-five a {
    color: skyblue;
}

.section-four {
    background-color: #fe7517;
    color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    vertical-align: top;
    height: 200px;
}
.section-one__home {
    background-color: red;
    color: white;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    display: inline-block;
    border: solid white 2px;
}
.contact-form{
    margin-top: 10px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: solid black 1px;
}
.contact-form__submit{
    background-color: orangered;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black;
    border: none;
}